{% block body %}

gówno

{% for row in pawns %}
    <div>
        {% for pawn in row %}
            <p>Color: {{ pawn.color }}, Position: {{ pawn.position }}</p>
            <form method="post">
                <button type="submit" name="submit" value="move_{{ pawn.color }}_{{ loop.index0 }}">Move me!</button>
            </form>
        {% endfor %}
    </div>
{% endfor %}


    <form method="post">
        <button type="submit" name="submit" value="rollDice">Roll!</button>
    </form>
    {% if roll_result %}
        <p>{{ roll_result }}</p>
    {% endif %}


{% endblock %}